.btn {
  background: #5596e6;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: normal;
  padding: 6px 16px;
  border-radius: 24px;
  margin-right: 16px;
}

.btn:hover {
  opacity: .7;
}

.line {
  background: none;
  border: 1px solid #5596e6;
  color: #5596e6;
}